{% extends 'base.html' %}
{% load static %}
{% block title %} About Sumesh Suseelan {% endblock %}

{% block content %}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About Sumesh Suseelan</h1>
    <p class="lead">I am energetic and organized person. Loves to learn nrew Technologies.
    Passionate about movies . Recently working on short film script . The main theme of the movie
is mystery thriller and crime</p>
  </div>
</div>
</div>

{% endblock %}