{% extends 'base.html' %}
{% load static %}
{% block title %} Welcome to Sumesh Suseelan Gallery {% endblock %}

{% block content %}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    	<h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic7.jpg' %}" alt="First slide">
    </div>
    <div class="carousel-item">
    	<h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic11.jpg' %}" alt="Second slide">
    </div>
    <div class="carousel-item">
    	<h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic5.jpg' %}" alt="Third slide">
    </div>
  </div>
   <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic3.jpg' %}" alt="Fourth slide">
    </div>
    <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic4.jpg' %}" alt="Fifth slide">
    </div>
    <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic5.jpg' %}" alt="Sixth slide">
    </div>
  </div>
   <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic6.jpg' %}" alt="Seventh slide">
    </div>
    <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic7.jpg' %}" alt="Eighth slide">
    </div>
    <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic8.jpg' %}" alt="Ninth slide">
    </div>
  </div>
    <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic9.jpg' %}" alt="Tenth slide">
    </div>
    <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic10.jpg' %}" alt="Eleventh slide">
    </div>
    <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic11.jpg' %}" alt="Twelveth slide">
    </div>
      <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic12.jpg' %}" alt="Thirteenth slide">
    </div>
    <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic13.jpg' %}" alt="Fourteenth slide">
    </div>
    <div class="carousel-item">
      <h5 class="card-title">Photo Credits : Shanmuga Sundaram</h5>
      <img class="d-block w-75" src="{% static 'img/pic14.jpg' %}" alt="Fifteenth slide">
    </div>
  </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endblock %}